hr {
    clear: both;
    visibility: hidden;
}
#x {
    background: pink;
}
#w {
    background: gold
}
#s {
    background: #9492929e
}

body {
    background: linear-gradient(to bottom right, #966f82, #1dc4bd);
}
